<footer class="footer">
    <div class="container">
        <span class="text-muted">
            <p class=”text-center text-muted”>© Copyright <%= new Date().getFullYear()%>
                <a href='mailto:<%= app_data.email%>'>Contact me!</a>
            </p>
        </span>
    </div>
</footer>