<div class='server_messages'>
    <p>
        <span class="<%= typeof message!='undefined' ? message.type : '' %>">
            <%= typeof message!='undefined' ? message.text : '' %>
        </span>
    </p>
</div>