<!DOCTYPE html>
<html>
<% include ../partials/head %>


  <body>
    <% include ../partials/header %>


      <div class="container">
        <h1>
          <%=title%>
        </h1>

        <% include ../partials/server_messages %>
          <%-body -%>
      </div>


      <% include ../partials/footer %>
  </body>
 
  

  <% include ../partials/scripts %>

</html>