body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.server_messages .error{
  color:rgb(233, 60, 60);
}
.server_messages .warn{
  color:rgb(243, 191, 95);
}
.server_messages .info{
  color:rgb(61, 117, 236);
}