<% layout('../layouts/default') -%>

    <form method="POST" action="add">
        <span>Name</span>
        <input type="text" name="name" id="name">
        <span>Email</span>
        <input type="text" name="email" id="email">
        <input type="submit" name="" id=""></input>
    </form>