<% layout('../layouts/default') -%>


<ul>
    <% users.forEach(function(user) { %>
        <li><%= user.id %> - <%= user.name %> <a href="./users/view/<%= user.id %>">View</a></li>
    <% }); %>
</ul>